
/* Universal Styles */

.attribution {
  margin-top: 2vh;
}

.none {
  font-size: 0;
}

.fas {
  font-size: 4vh;
}

hr {
  width: 10vw;
  height: 3vh;
  margin-left: 45vw;
  margin-right: 45vw;
}

body {
  width: 100vw;
  overflow-x:hidden;
}

button {
  display: inline;
  overflow: hidden;
  text-align: center;
}

.full {
}

/* Title Styles */
.titleDiv {
  height: 95vh;
  width: 100vw;
}

#name {
  margin-top:35vh;
}

.header {
  margin: 0;
  text-align: center;
  padding-top: 4rem;
  font-family: 'Ubuntu', sans-serif;
}

.titletext {
  color:white;
  animation: fadeInUp 2.5s;
  margin-left: 40vw;
  width:20vw;
  margin-right:40vw;
  text-align:center;
  font-family: 'Ubuntu', sans-serif;
 }

.titlebtn {
  margin-left: 45vw;
  animation: fadeInUp 2.5s;
  width:10vw;
  margin-right: 45vw;
  margin-top: 2rem;
  background-color: transparent;
  color: white;
  border: 2px solid;
  border-radius: 6px;
  height: 5vh;
  font-size: 1.5rem;
 }

 .titlebtn:hover {
   background-color: white;
   border-color: white;
   color: black;
 }

 @keyframes fadeInUp {
   from {
     opacity: 0;
     -webkit-transform: translate3d(0, 100%, 0);
     transform: translate3d(0, 100%, 0);
   }

   to {
     opacity: 1;
     -webkit-transform: translate3d(0, 0, 0);
     transform: translate3d(0, 0, 0);
   }
 }

 @keyframes fadeIn {
   from {
     opacity: 0;
   }

   to {
     opacity: 1;
   }
 }

nav * {
  border: none;
  width: 20%;
}

nav {
  position: relative;
  width:100vw;
  z-index:10;
  height:5vh;
}

.dropdown {
  display: none;
}

.dropdown-content hr {
  background-color: white;
  width: 100%;
  margin: 0;
  height: 0.25vh;
}

.progress-container {
  width: 100%;
  height: 1vh;
  background: #ccc;
}

/* The progress bar (scroll indicator) */
.progress-bar {
  height: 1vh;
  background-color: #5eb3ce;
  width: 0%;
}

.coloured {
  color: #5eb3ce !important;
}

.fixed-header {
  position: fixed;
  top:0rem;
}

nav button {
  height: 5vh;
  background-color: black;
  color: white;
  font-weight: bold;
  font-family: 'Helvetica', serif;
}


/* About Styles */
.aboutDiv {
  height: 285vh;
  width: 100%;
  display: inline;
}

  #about {
    margin-bottom: 7vh;
    height: 2vh;
    display: block;
    color: transparent;
  }

  .aboutheader {
    height: 5vh;
    margin-top: 5vh;
    padding: 0;
  }

  .abouthr {
    margin-top: 2.5vh;
    margin-bottom: 2.5vh;
  }

  .aboutself {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 85vh;
    width: 100%;
    overflow: hidden;
  }

    .aboutself div {
      width:40%;
      margin-left: 5%;
      margin-top: 5vh;
      margin-bottom: 5vh;
      height: 75vh;
    }

      .description {
        display: flex;
        flex-direction: column;
        justify-content: center;
        row-gap: 2vh;
        font-family: 'Arial', sans-serif;
      }

        .description p {
          margin-bottom: 5vh;
          font-size: 2.25rem;
        }

      .gif {
        height:75vh;
        border-radius: 5px;
        width: 100%;
      }

  .linkedin {
    height:100vh;
    background-color: #000000;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: center;
    column-gap: 10vw;
    font-family: 'Ubuntu', sans-serif;
    overflow: hidden;
  }

  .linkedin h2 {
    color: white;
  }

    .left {
      width: 33vw;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      row-gap: 3vh;
    }

      .me {
        width:33vw;
        height:50vh;
      }

      .buttonDiv button {
        background-color: #000000;
        border: none;
      }

        .linkedbtn {
          margin-right: 0.5vw;
        }

    .right {
      width: 40vw;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      height: 85vh;
      row-gap: 3vh;
    }

    .right h2 {
      margin-top: 10vh;
    }

    .right h3 {
      color: #5eb3ce;
      margin-top: 1vh;
    }

    .workhd {
      border: solid white;
      border-radius: 20px;
      padding-left: 0.5vw;
      padding-right: 0.5vw;
      width:40vw;
    }

    .hdr {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    .hdr h4 {
      color: white;
      font-style: italic;
      margin-bottom: 2vh;
    }

    .fa-sort-down {
      color: white;
      margin-right: 1vw;
    }

    @keyframes spin {
      100% {
        -webkit-transform: rotate(360deg);
        transform:rotate(360deg);
      }
    }

    .spin {
      animation: spin 1s;
    }

    .workhd p {
      color: white;
      margin-left: 1vw;
      margin-right: 1vw;
      font-family: 'Arial', sans-serif;
    }

    .ps {
      margin-top: 2vh;
      margin-bottom: 1.5vh;
    }

    .workhr {
      width: 15vw;
      margin: 0;
      margin-bottom: 3vh;
    }

    .accolades {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height:100vh;
      font-family: 'Ubuntu', sans-serif;
      overflow: hidden;
    }

    .indads {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      width:90vw;
      column-gap: 5vh;
      margin-bottom: 4vh;
      overflow: hidden;
    }

    .indads img {
      width: 20vw;
      height:30vh;
      border-radius: 8px;
    }

    .indads div {
      width: 50vw;
      height:30vh;
    }

    .indads h3 {
      margin-top: 0;
    }

    .indads button {
      background-color: black;
      color: white;
      border-radius: 6px;
      height: 4vh;
      padding-left: 1vw;
      padding-right: 1vw;
      border: none;
    }

    .indads button:hover {
      background-color: white;
      color:black;
      border-color: black;
      border: 2px solid;
    }

    .acBtnDiv {
      display: flex;
      flex-direction: row;
      column-gap: 2vw;
      height:auto !important;
      margin-top: 3vh;
    }

    .acBtnDiv button {
      margin-top: auto;
    }

    .accolades p {
      font-family: 'Arial', sans-serif;
    }

    @keyframes slideDown {
      0% {
        opacity: 0;
        transform: translateY(-60px);
      }

      100% {
        opacity: 1;
        transform: translateY(0);
      }
    }

    .added {
      /*animation: slideDown 1s;
      display: flex;*/
    }

@media (max-width: 900px) {

  .description p {
    font-size: 1.75rem;
  }
}

@media (max-width: 400px) {

  .description p {
    font-size: 1.25rem;
  }
}

  .aboutservices {
    background-color: #000000;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: 'Ubuntu', sans-serif;
  }

    .aboutservices * {
      color: white;
    }

    .aboutservices > div {
      height: 100vh;
      width: 40%;
      margin-left: 5%;
    }

    .skills {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;

    }

      h3 {
        margin-top: 3vh;
        margin-bottom: 2vh;
      }

      .sklhr {
        width: 15vw;
        margin: 0;
        margin-left: 0;
      }

      .skills p {
        margin-top: 2vh;
        height: 2vh;
      }

      .empty {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 96%;
        background-color: #000000;
        height:3vh;
        margin: 0;
        border-radius: 5px;
      }

        .filled {
          transition: width 1s;
          width: 0 !important;
        }

        .transit {
          width: 100% !important;
        }

        .empty p {
          display: inline-block;
          margin: 0;
          width: 1%;
          font-size: 1.6rem;
          margin-left: 3%;
          text-align: center;
        }

      .reacte {
        width: 86%;
      }

      .nodee {
        width:86%;
      }

      .htmle {
        width: 96%;
      }

      .csse {
        width: 96%;
      }

      .javascripte {
        width: 91%;
      }

      .jquerye {
        width: 91%;
      }

      .mongodbe {
        width: 81%;
      }

      .sqle {
        width: 61%;
      }

      .pythone {
        width: 86%;
      }

        .react {
          background-color: #ff66cc !important;
          height: 3vh;
          border-radius: 5px;
        }

        .node {
          background-color: #ffa812 !important;
          height: 3vh;
          border-radius: 5px;
        }

        .html {
          background-color: #1560bd !important;
          height: 3vh;
          border-radius: 5px;
        }

        .css {
          background-color: #d40000 !important;
          height: 3vh;
          border-radius: 5px;
        }

        .javascript {
          background-color: #00ced1 !important;
          height: 3vh;
          border-radius: 5px;
        }

        .jquery {
          background-color: #ffd800 !important;
          height: 3vh;
          border-radius: 5px;
        }

        .mongodb {
          background-color: #966fd6 !important;
          height: 3vh;
          border-radius: 5px;
        }

        .sql {
          background-color: aqua !important;
          height: 3vh;
          border-radius: 5px;
        }

        .python {
          background-color: #03c03c !important;
          height: 3vh;
          border-radius: 5px;
        }

  .vrtclcrsl {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Arial', sans-serif;
  }

    .btndv {
      margin-bottom: 2vh;
      margin-top: 3vh;
      height: 5vh;
      width: 35%;
    }

      .ftbtn {
        background-color: #000000;
        color: white;
        border: thin solid white;
        border-radius: 5px 0px 0px 5px;
        width: 50%;
        height: 5vh;
      }

      .procbtn {
        background-color: white;
        color: black;
        border-radius: 0px 5px 5px 0px;
        width: 50%;
        height:5vh;
        border: none;
      }

    .vrtitm {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 18vh;
      margin-bottom: 3vh;
      border: solid 5px white;
      border-radius: 15px;
      width: 25vw;
      overflow: hidden;
    }

      .vrtitm i {
        margin-top: 1vh;
      }

      .vrtitm * {
        text-align: center;
      }

      .vrtitm p {
        margin:0;
        font-size: 1.25vh;
        margin-left: 1vw;
        margin-right: 1vw;
      }

      .vrtitm h3 {
        margin-top: 1vh;
        margin-bottom: 2vh;
        font-family: 'Ubuntu', sans-serif;
      }

@media (max-width: 1250px) {
  .vrtitm p {
    font-size: 1rem;
  }
}

@media (max-width: 400px) {
  .vrtitm p {
    font-size: 0.75rem;
  }
}

/* Testimonials Styles */
.testimonials {
  height: 100vh;
  width: 100%;
  font-family: 'Ubuntu', sans-serif;
}
  #testimonials {
  }

  .testimonialsheader {
    height: 5vh;
    padding: 0;
    padding-top: 5vh;
    padding-bottom: 5vh;
  }

  .glider-contain {
    margin-top: 5vh !important;
    height: 70vh !important;
    width:90% !important;
    margin-left: 5%;
    margin-right: 5%;
  }

    .glider {
      height: 100%;
      width: 100%;
    }

    .glidebtn {
      display: none;
    }

      .d-block {
        height: 65vh !important;
        border-radius: 7px;
        width: 40% !important;
      }

      .glider-item {

        display: flex;
        flex-direction: row;
      }

      .glider-item > * {
        width: 50%;
      }

      .glidertext {
        margin-left: 4rem;
      }

        .glidertext * {
          margin-bottom: 15vh;
          line-height: 4rem;
        }

        .glidertext p {
          font-size: 2rem;
          margin-left:3rem;
          font-family: 'Arial', sans-serif;
        }
  .glider-dots {
    height: 6vh;
  }

/* Contact Styles */
*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
          box-sizing: border-box;
          margin: 0;
          padding: 0;
}



form, form > * {
  color: hsl(249, 10%, 26%);
  font-family: 'Poppins', sans-serif;
  font-size: 1.6rem;
  line-height: 1.6;
}

.contact {
  background-color: #000000;
  font-family: 'Ubuntu', sans-serif;
}

  #contact {
  }

  .contactheader {
    padding-top: 4vh;
    color: white;
  }

  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height:70vh;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    align-items: center;
  }

    .main__content {
      grid-column-start: 1;
      margin-left: 5%;
      margin-right: 5%;
    }

      .main__title {
        color: gray;
        margin-left: 0;
      }

      .main__text {
        color: white;
        font-family: 'Arial', sans-serif;
      }

    .form {
      grid-column-start: 2;
      background-color: white;
      border-radius:8px;
      display: inline-flex;
      flex-direction: column;
      align-items: center;
      margin-left: 10%;
      margin-right: 10%;
      width:80%;
      height: 48vh;
    }

      .form__text {
        font-size: 0.9rem;
        margin-right: auto;
        margin-left: 10%;
      }

      .button {
        height: 15%;
        border: 0;
        border-radius: 0.5rem;
        color: white;
        background-color: #000000;
        cursor: pointer;
        text-align: center;
        margin-bottom: 0;
        outline: 0;
        width: 50%;
        transition: .3s linear;
        margin-right: auto;
        margin-left: 10%;
      }

      .in {
        height: 15%;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-top: 2rem;
      }

        #email {
          height: 85%;
          margin-top: auto;
          margin-bottom: auto;
          width: 80%;
        }

      .ta {
        height: 60%;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
      }

        #msg {
          padding-top: 2%;
          height: 85%;
          width: 80%;
          resize: none;
        }

      .form__input {
        border-radius:5px;
        box-shadow: none;
        border: none;
        background-color: #D3D3D3;
        text-indent: 3% !important;
      }

      .form__input:focus {
        border: .1rem solid hsl(248, 32%, 49%);
      }

      .form__input::placeholder {
      }

@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

      .isa_error {
        height:9vh;
        width:53vw;
        margin-left: auto;
        margin-right: auto;
        border-radius: 8px;
        color: #D8000C;
        background-color: #FFD2D2;
        display: flex;
        flex-direction: row;
        align-items: center;
        column-gap: 10px;
      }

      .isa_success {
        height:9vh;
        margin-left: auto;
        margin-right: auto;
        width:34vw;
        border-radius: 8px;
        color: #4F8A10;
        background-color: #DFF2BF;
        display: flex;
        flex-direction: row;
        align-items: center;
        column-gap: 10px;
      }

      .isa_success i, .isa_error i {
        font-size:2em;
      }

      .isa_success p, .isa_error p {
        text-align: center;
        vertical-align: center;
      }

      #modal {
        width:55vw;
        margin-left: auto;
        margin-right: auto;
        height:20vh;
        margin-top: 2vh;
        margin-bottom: 88vh;
        border-radius: 10px;
        animation: fadeIn 1.5s;
        background-color: transparent !important;
        border: none !important;
        overflow: hidden !important;
      }

      .ReactModal__Overlay {
        background-color: transparent !important;
      }

      .modalBtn {
        background-color: transparent;
        border:none;
        color: black;
        align-self: flex-start;
        margin-left: 10px;
        margin-top: 5px;
        margin-right: 2vw;
      }

/* Project Page Styles */
.prjttl {
  background-color: black;
  position: fixed;
  top: 0;
  height: 10vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: 'Ubuntu', sans-serif;
}

  .dropdownp {
    display: none;
  }

  .dropdown-contentp {
    display: none;
  }

  .prjttl h2 {
    color: white;
    margin: 0;
    margin-left:2vw;
    width: 10vw;
  }

  .prjnv {
    width: 65vw;
  }

  .prjnv a {
    width: 25%;
  }

  .dropdown-contentp hr {
    background-color: white;
    width: 100%;
    margin: 0;
    height: 0.25vh;
  }

  .prjnvbtn {
    width: 25%;
  }

    .prjnvbtn p{
      margin-left: auto;
      margin-right: auto;
      margin-top: auto;
      margin-bottom: auto;
    }

    .homeb {

    }

    .aboutb {

    }

    .init {

    }

  .searchbar {
    margin-right: 5vw;
    width: 20vw;
    border-radius: 5px;
    height: 4vh;
    border: none;
    text-indent: 2vh;
  }

    .fa-search {

    }

.prj {
  margin-top: 12vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 2vw;
  grid-row-gap: 4vh;
  margin-left: 2vw;
  margin-right: 2vw;
  margin-bottom: 3vh;
}


  .projectCard {
    background-color: hsl(0, 0%, 100%);
    border-radius: 5px;
    box-shadow: 2px 2px 5px 2px hsl(0, 0%, 80%);
    width:91%;
    margin-left: auto;
    margin-right: auto;
  }

  .projectCard:hover p, h1 {
    color: #86c5da;
  }

  .projectCard:hover p {
    text-decoration: underline;
  }

    .projectCard p, h1 {
      color: black;
      margin-left: 3vh;
    }

    .projectCard p {
      margin-right: 3vh;
      margin-bottom: 4vh;
    }

    .projectCard h1 {
      font-size: 2.5rem;
      font-family: "Ubuntu", sans-serif;
    }

    .prjimg {
      width: 100%;
      height: 35vh;
      border-radius: 5px;
      box-shadow: 1px 1px 1px 1px hsl(0, 0%, 80%);
    }

@media (max-width:1200px) {
  .prj {
    grid-template-columns: 1fr 1fr;
  }

  .prjttl h2{
    font-size: 3.5vh;
  }

  .prjnvbtn p {
    font-size: 75%;
  }
}

@media (max-width:900px) {

  .prjttl h2{
    font-size: 3vh;
    margin-right: 5vh;
  }

  .prjnvbtn p {
    font-size: 65%;
    margin-left: 0;
  }

  .searchbar::placeholder {
    font-size: 1vh;
  }

  .couFlag {
    height:50vh !important;
  }

}

@media (max-width:600px) {
  .prj {
    grid-template-columns: 1fr;
  }

  .attribution {
    font-size: 1rem !important;
  }

  .searchbar::placeholder {
    font-size: 2vh;
    margin-top: auto;
    margin-bottom: auto;
  }

  .couFlag {
    height:30vh !important;
  }

  .cont {
    grid-template-rows: 1fr 1fr !important;
  }
}

/* Single Project Page Styles */

.sprojback {
  background-color: #111111;
}

.cont {
  width:95%;
  margin-left: 2.5%;
  margin-right: 2.5%;
  display: grid;
  grid-template-rows: 3fr 1fr;
}

.rightDiv {
  margin-left: 12.5%;
}

.couFlag {
  width:75%;
  margin-right: 12.5%;
  margin-left: 12.5%;
  height:70vh;
}

.couDetails {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  margin-left: 0rem;
  color: white;
}

.firstp {
  margin-top: 3vh;
  width: 65vw;
}

.backbtn {
  border: solid;
  border-color: white;
  background-color: hsl(0, 0%, 100%);
  width:8vh;
  padding-top:0.5rem;
  padding-bottom:0.5rem;
  border-radius: 3px;
  margin-left: 2.5%;
  margin-bottom: 2rem;
  margin-top: 2rem;
  color: black;
}

.backbtn:hover {
  background-color: #000000;
  border-color: white;
  color: white;
}

.couBtn {
  border: solid;
  border-color: white;
  background-color: hsl(0, 0%, 100%);
  width:18vh;
  padding-top:0.5rem;
  padding-bottom:0.5rem;
  border-radius: 3px;
  margin-top: 1.5vh;
  color: black;
}

.couBtn:hover {
  background-color: #000000;
  border-color: white;
  color: white;
}


.fa-arrow-left {
  margin-right: 0.7rem;
  font-size: 1.5vh;
}

/* Footer Styles */
.footer {
  background-color: #000000;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 4vh;
  font-family: 'Arial', sans-serif;
}

footer {
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 0.5vw;
}

footer button {
  color: transparent;
  background-color: transparent;
  border: none;
}

footer p {
  margin: 0;
}

.fa-linkedin {
  color: white;
  font-size: 2em;
}

.fa-linkedin:hover {
  color: gray;
}

.fa-github {
  color: white;
  font-size: 2em;
}

.fa-github:hover {
  color: gray;
}

@media (max-width: 1100px) {

  .titletext {
    width: auto !important;
    margin-left: auto !important;
    margin-right: auto !important;
    font-size: 5rem;
    margin-bottom: 5vh !important;
  }

  .titlebtn {
    width: 30vw !important;
    margin-left: 35vw !important;
    margin-right: 35vw !important;
  }

  .aboutDiv {
    height: auto !important;
  }

  .aboutself, .aboutservices, .container {
    display: block !important;
    height: auto !important;
  }

  .aboutself > *{
    width: 90% !important;
    margin-left: 5%;
    margin-right: 5%;
    height: auto !important;
  }

  .aboutservices > *{
    width: 90% !important;
    margin-left: 5%;
    margin-right: 5%;
    height: auto !important;
  }

  #testimonials {
  }

  .d-block {
    width: 100%;
  }

  #contact {
  }

  .contact {
    height: auto !important;
  }

  .container > *{
    width: 90% !important;
    margin-left: 5%;
    margin-right: 5%;
    height: auto !important;
  }

  .main__content * {
    text-align: center;
  }

  .main__content {
    margin-bottom: 5vh;
  }

  .form {
    margin-left: auto !important;
    margin-right: auto !important;
    margin-bottom: 15vh !important;
  }

  .gif {
    display: none;
  }
}

@media (max-width: 600px) {

  html, body {
    width: 100vw;
  }

  .titleDiv h1 {
    margin-top: 25vh !important;
  }

  .titlebtn {
    width: 70% !important;
    margin-left: 15% !important;
    margin-right: 15% !important;
    height: 8vh;
  }

  .titletext {
    font-size: 3rem;
  }

  .navbtns {
    display: none;
    font-family: 'Ubuntu', sans-serif;
  }

  .dropdown {
    display: inline-block;
    width: 100%;
    background-color: black;
  }

  .dropbtn {
    border-radius: 5px;
    height: 4rem;
    width: 4rem;
    display: flex;
    align-items: center;
    margin-left: 2vw;
  }

  .dropbtn:focus {
    outline: none;
  }

  .dropa {
    color: white;
    text-align: center;
    width: 100%;
  }

  .reveala {
    display: flex !important;
    flex-direction: column;
    background-color: black;
    width: 100%;
  }

  .dropdown-content {
    display: none;
  }

  .btndv {
    width: 100%;
  }

  .vrtitm {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }

  .vrtclcrsl p {
    font-size: 1.3rem;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }

  .glider-contain {
    margin-top: 2vh!important;
    height: 70vh !important;
  }

  .glider {
    height: auto;
    height: 70vh !important;
  }

  .glider-item {
    flex-direction: column;
  }

  .glidertext {
    width: 100%;
    margin-left: 0;
    height: 40vh;
  }

  .glidertext * {
    margin-left: 0;
    margin-bottom: 5vh;
  }

  .glidertext h1 {
    font-size: 3rem;
  }

  .glidertext p {
    font-size: 1.5rem;
    line-height: normal;
  }

  .d-block {
    height: 40vh !important;
    width: 100% !important;
  }

  .form__text {
    font-size: 0.73rem;
  }

  .footer {
    font-size: 1rem;
  }

  .prjnv {
    display: none;
  }

  .searchbar {
    display: none;
  }

  .prjttl {
    justify-content: flex-end;
  }

  .prjttl h2 {
    margin-right: auto;
    margin-left: 5vw;
  }

  .dropdownp {
    display: inline-block;
    width: 10%;
    background-color: black;
    margin-right: 5vw;
  }

  .dropbtnp {
    border: none;
    height: 4rem;
    width: 4rem;
    display: flex;
    align-items: center;
    background-color: black;
    color: white;
  }

  .dropbtnp:focus {
    outline: none;
  }

  .reveal {
    position: fixed;
    top:10vh;
    display: flex !important;
    flex-direction: column;
    background-color: black;
    width: 100%;
    text-align: center;
    color: white;
  }

  .dropap {
    color: white;
  }

  .dropdownp:hover .dropap {
      color: white;
      text-align: center;
      width: 100%;
  }

  .dropdown-contentp {
    display: none;
  }
}

@media (max-height: 700px) {
  .vrtclcrsl p {
    font-size: 1rem;
  }

  .glidertext p {
    font-size: 1rem;
    margin-left: 3vw;
  }

  .glidertext h1 {
    margin-bottom: 2vh;
  }
}
