
/* Universal Styles */

.attribution {
  margin-top: 2vh;
}

.none {
  font-size: 0;
}

.fas {
  font-size: 4vh;
}

hr {
  width: 10vw;
  height: 3vh;
  margin-left: 45vw;
  margin-right: 45vw;
}

body {
  width: 100vw;
  min-height: 100vh;
  overflow-x:hidden;
}

button {
  display: inline;
  overflow: hidden;
  text-align: center;
}

#root {
  min-height: 100vh;
}
